body{
    text-align:center;
}
hr{
    width: 85%;
}
.card-img{
    width:40vh;
    height: 30vh;
    padding: 5px;
    margin: auto;
}
.jumbotron{
    margin-bottom:0;
}
.d-block-w-100{
    
	height: 500px;
	width: 800px;
	margin-left: 130px;
	margin-right: 100px;
	margin-top: 60px;

}