body{
    background: url("./back.jpg") no-repeat fixed center;
    background-repeat: no-repeat;
   background-attachment: fixed;
  background-size: cover;

}
.container{
    height: 400px;
    position: relative;
}
.login-form{
    margin: auto;
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%);
    border-radius: 7px;
    box-shadow: 1px 2px 4px 1px #e6e6e6;
    padding:15px 10px;
    color: #4d4d4d;
    background: rgba(255, 255, 255,0.9555);
}